---
import ApfelSequence from "@apfel-sequence/react";
import Layout from "../../layouts/Layout.astro";
import { heroAssets, heroLoadingConfig, section2Assets, section2LoadingConfig, section2ScrollConfig, commonDrawMode } from "./../../utils/sequenceData"
---
<Layout>
	<section id="hero">
		<ApfelSequence 
			client:load
			assetsConfig={heroAssets}
			loadingConfig={heroLoadingConfig}
			alt={"My hero alt text"} 
			drawMode={commonDrawMode}
		/>
	</section>
	<section id="section-2">
		<ApfelSequence
			client:load
			assetsConfig={section2Assets}
			loadingConfig={section2LoadingConfig}
			scrollConfig={section2ScrollConfig}
			alt={"Section alt text"} 
			drawMode={commonDrawMode}
		/>
	</section>
	<section></section>
</Layout>
