---
import ApfelSequence from "@apfel-sequence/react";
import Layout from "../../layouts/Layout.astro";
import { heroAssets,heroScrollConfig, heroLoadingConfig, section2Assets, section2LoadingConfig, section2ScrollConfig, commonDrawMode } from "./../../utils/sequenceData"
---
<Layout>
	<section id="hero">
		<ApfelSequence 
			client:load
			assetsConfig={heroAssets}
			scrollConfig={heroScrollConfig}
			loadingConfig={heroLoadingConfig}
			alt={"My hero alt text"} 
			drawMode={commonDrawMode}
		/>
	</section>
	<section id="spacer" style="height: 100vh; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">
		<h2>Keep scrolling for the lazy-loaded sequence</h2>
	</section>
	<section id="section-2">
		<ApfelSequence
			client:load
			assetsConfig={section2Assets}
			loadingConfig={section2LoadingConfig}
			scrollConfig={section2ScrollConfig}
			alt={"Section alt text"} 
			drawMode={commonDrawMode}
		/>
	</section>
	<section></section>
</Layout>
